.login-container {
  display: flex;
  align-items: center;
}

/*Set menu active link depending on applyed stylesheet*/
:host ::ng-deep .p-menuitem-link-active .p-menuitem-text {
  color: var(--primary-color) !important;
}

/*RTL overrides*/
:host ::ng-deep .rtl-menu > .p-menubar-end {
  margin-left: unset;
  margin-inline-start: auto;
}

:host ::ng-deep .p-menuitem-icon {
  margin-right: unset;
  margin-inline-end: 0.5rem;
}

/*Push expand arrow to the edge*/
[dir=rtl] :host ::ng-deep .p-submenu-icon {
  margin-left: unset !important;
  margin-inline-start: auto;
}

/*Add space between image and text in button control*/
:host ::ng-deep .p-button-icon-left {
  margin-right: unset;
  margin-inline-end: 0.5rem;
}

/*Reduce floating label floation height*/
:host ::ng-deep .p-float-label > label {
  top: 20%;
  margin-top: unset;
}

/*Hierarchy menus open to the logical direction*/
@media screen and (min-width: 961px) {
  :host ::ng-deep .p-submenu-list .p-submenu-list {
    left: unset !important;
    margin-inline-start: 100%;
  }
}

/*Change expand arrow to the other direction*/
[dir=rtl] :host ::ng-deep .pi-angle-right:before {
  content: '\e931';
}
