/**/
:host ::ng-deep .p-fileupload-row > div:last-child {
  text-align: end;
}

/*Space in buttons*/
:host ::ng-deep .p-button-icon-left {
  margin-right: unset;
  margin-inline-end: 0.5rem;
}

/*Space in message message detail*/
:host ::ng-deep .p-message-detail {
  margin-left: unset;
  margin-inline-start: 0.5rem;
}

/*Space in message icon*/
:host ::ng-deep .p-message-icon {
  margin-right: unset;
  margin-inline-end: 0.5rem;
}

/*close button at the end of the row*/
:host ::ng-deep .p-message-close.p-link {
  margin-left: unset;
  margin-inline-start: auto;
}
