<mat-grid-list [cols]="cols"
               [rowHeight]="rowHeight"
               [gutterSize]="gutterSize+'px'">

  <mat-grid-tile *ngFor="let imageItem of images; let index = index"
                 [rowspan]="item.rows">

     <!--Grid image item--> 
    <app-grid-gallery-item #item
                           [image]="imageItem"
                           [rowHeight]="rowHeight"
                           [gutterSize]="gutterSize"
                           style="cursor: pointer"
                           (click)="imageClick.emit(index)">
    </app-grid-gallery-item>
  </mat-grid-tile>
</mat-grid-list>
