<p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '800px'}" [numVisible]="7">
  <ng-template pTemplate="item" let-item>
    <img [src]='item.gallery + "/" + item.category + "/" + item.name' style="width: 100%; display: block;" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="p-grid p-nogutter p-justify-center">
      <img [src]='item.gallery + "/" + item.category + "/" + item.name' style="display: block; height: 40px;" />
    </div>
  </ng-template>
</p-galleria>


<!--<p-galleria [value]="images">
  <ng-template pTemplate="item" let-item>
    <img [src]='item.gallery + "/" + item.category + "/" + item.name' />
  </ng-template>
</p-galleria>-->
