<!-- Full screen displayer -->
<p-galleria [(value)]="images" [(visible)]="displayCustom" [(activeIndex)]="activeIndex" [containerStyle]="{'max-width': '60%'}"
            [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">
  <ng-template pTemplate="item" let-item>
    <img [src]='item.gallery + "/" + item.category + "/" + item.name' style="max-width: 60%; display: block;" />
  </ng-template>
</p-galleria>

<app-grid-gallery [images]="images"
                  cols.xs="1"
                  cols.sm="2"
                  cols.md="3"
                  cols.lg="4"
                  cols.xl="6"
                  [gutterSize]="5"
                  (imageClick)="imageClick($event)">
</app-grid-gallery>

