<!--<p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '800px'}" [numVisible]="7">
  <ng-template pTemplate="item" let-item>
    <img [src]='item.gallery + "/" + item.category + "/" + item.name' style="width: 100%; display: block;" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="p-grid p-nogutter p-justify-center">
      <img [src]='item.gallery + "/" + item.category + "/" + item.name' style="display: block; height: 40px;" />
    </div>
  </ng-template>
</p-galleria>-->

<app-grid-gallery [images]="{{this.photosService.getByCategory('dfdf') | async}}"
                  cols.xs="1"
                  cols.sm="2"
                  cols.md="3"
                  cols.lg="4"
                  cols.xl="6">
</app-grid-gallery>

