<p-treeTable [value]="files | translationEdit" [columns]="cols" style="direction: ltr"
             selectionMode="single" [(selection)]="selectedNode" [metaKeySelection]="false" dataKey="id"
             (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
    <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
      <ng-container *ngFor="let col of columns; let i = index">
        <td *ngIf="i < columns.length - 1" ttEditableColumn>
          <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
          <p-treeTableCellEditor *ngIf="!rowNode.node.hasOwnProperty('children') || i === 0">
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData[col.field]">
            </ng-template>
            <ng-template pTemplate="output">{{rowData[col.field]}}</ng-template>
          </p-treeTableCellEditor>
        </td>
        <!--<td *ngIf="i < columns.length - 1">
          <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
          {{rowData[col.field]}}
        </td>-->
        <td *ngIf="i === columns.length - 1">
          <ng-container *ngIf="rowData === selectedNode?.data">
            <button pButton pRipple (click)="addNewElement()" icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
          </ng-container>
        </td>

      </ng-container>
    </tr>
  </ng-template>
</p-treeTable>
