<p-treeTable [value]="files | translationEdit" [columns]="cols" dir="ltr"
             selectionMode="single" [(selection)]="selectedNode" dataKey="id" sortField="id"
             (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
    <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
      <ng-container *ngFor="let col of columns; let i = index">
        <td *ngIf="i < columns.length - 1" ttEditableColumn>
          <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
          <p-treeTableCellEditor *ngIf="!rowNode.node.hasOwnProperty('children') || i === 0">
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData[col.field]">
            </ng-template>
            <ng-template pTemplate="output">{{rowData[col.field]}}</ng-template>
          </p-treeTableCellEditor>
        </td>
        <!--<td *ngIf="i < columns.length - 1">
          <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
          {{rowData[col.field]}}
        </td>-->
        <td *ngIf="i === columns.length - 1" fxLayoutGap="0.5em" class="align-right">
          <ng-container *ngIf="rowData === selectedNode?.data">
            <button pButton pRipple (click)="showElementModal()" icon="pi pi-plus" class="p-button-rounded p-button-success"></button>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button>
            <button pButton pRipple (click)="removeElement()" icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
          </ng-container>
        </td>

      </ng-container>
    </tr>
  </ng-template>
</p-treeTable>

<p-sidebar [(visible)]="addRowModalVisibility" position="bottom" [baseZIndex]="2" dir="ltr">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h2 style="font-weight:normal">{{selectedNode?.data.id}}</h2>
    <div fxLayoutGap="0.5em">
      <p-button type="button" (click)="addSiblingElement()" label="Add Sibling" styleClass="p-button-success"></p-button>
      <p-button type="button" (click)="addChildElement()" label="Add Child" styleClass="p-button-secondary margin-right-4"></p-button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5em" fxHide.lt-lg>
    <span class="p-float-label">
      <input id="key-input" type="text" pInputText [(ngModel)]="newTreeElement.key" [ngClass]="{'p-invalid': newTreeElement.invalidKey}">
      <label for="key-input">Key</label>
    </span>
    <span class="p-float-label">
      <input id="he-input" type="text" pInputText [(ngModel)]="newTreeElement.he" [ngClass]="{'p-invalid': newTreeElement.invalidHe}">
      <label for="he-input">He</label>
    </span>
    <span class="p-float-label">
      <input id="en-input" type="text" pInputText [(ngModel)]="newTreeElement.en" [ngClass]="{'p-invalid': newTreeElement.invalidEn}">
      <label for="en-input">En</label>
    </span>
  </div>
</p-sidebar>
