<p-menubar [model]="items" styleClass="rtl-menu">
  <div fxLayout="row" fxLayoutGap="0.5em" fxHide.lt-lg>
    <span class="p-float-label">
      <input type="text" id="username" class="p-inputtext-sm" pInputText [(ngModel)]="userName">
      <label for="username">{{'nav.username' | translate}}</label>
    </span>
    <span class="p-float-label">
      <input type="password" id="password" class="p-inputtext-sm" pInputText [(ngModel)]="password">
      <label for="password">{{'nav.password' | translate}}</label>
    </span>
    <!--<input type="text" class="p-mx-2" pInputText placeholder="Search">-->
    <button pButton label="{{'nav.log_in' | translate}}" icon="pi pi-power-off" class="p-button-sm"></button>
  </div>
</p-menubar>

